@mixin footer-button {
    display: flex;

    .cell{

        button{
            margin-top: 1em;
            margin-right: 0.3em;
            
            &.favorite-button{
                &.favorite{
                    color: var(--color-orange)
                }

                &:disabled{
                    color: var(--text-faint)
                }
            }
            
            &.remove-button{
                color: var(--text-error)
            }

            &.active{
                background-color: var(--color-accent);
                border-bottom: 3px solid var(--text-accent);
                color: var(--text-on-accent);
            }
        }

        select {
            margin-top: 1em;
            margin-right: 0.3em;
        }
    }
}

.fileClass-add-button {
    color: var(--text-accent);
    padding: 0 0.5em;
    display: flex;
}

.edit-block-button.fileclass-codeblock-icon{
    right: calc(var(--size-2-2) + 2em);
}

.metadata-menu.fileclass-view, .metadata-menu.fileclass-codeblock-view{
    
    .fv-menu{
        display: flex;
        
        .fv-menu-item{
            display: flex;
            margin: 0em 1em 0.5em 0em;
            color: var(--text-muted);

            h2 {
                margin-top: 0em;
                margin-block-end: 0em;
            }

            &.active{
                color: var(--text-accent);
                border-bottom: 3px solid var(--text-accent);
            }
        }
    }

    .view-container{
        display: flex;
        flex-flow: column;
        height: 95%;
    }

    .fv-fields {
        
        .fields-container{
            display: grid;
            grid-template-columns: auto auto auto 1fr;
            
            @media screen and (max-width: 400px) {
                grid-template-columns: auto auto auto;
            }

            .name-container{
                grid-column: 1;
                margin: 0.2em 1.3em 0.2em 0;
                white-space: nowrap;
                font-weight: 500;
                display: inline-flex;
                @media screen and (max-width: 400px) {
                    margin-top: 1em;
                }

                .indentation{
                    width: 1em;
                    color: var(--text-faint);
                    margin-right: 0.3em;
                }
            }

            .type-container{
                grid-column: 2;
                @media screen and (max-width: 400px) {
                    margin-top: 1em;
                }

                .chip{
                    border-radius: 0.8em;
                    padding: 0.1em 0.75em 0.25em 0.75em;
                    color: white;
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                    height: 1.6em;
                    white-space: nowrap;
                    font-size: small;
                    margin-top: 0.25em;
                    opacity: 0.95;
                }
            }

            .buttons-container{
                grid-column: 3;
                display: flex;
                @media screen and (max-width: 400px) {
                    margin-top: 1em;
                }
            }

            .options-container{
                grid-column: 4;
                @media screen and (max-width: 400px) {
                    grid-column: 1;
                    grid-column-start: span 3;
                }
                
                .description{
                    white-space: nowrap;
                    margin-left: 1em;
                    color: var(--text-muted);

                    @media screen and (max-width: 400px) {
                        margin-left: 0em;
                        white-space: normal;
                    }
                }
            }

            button {
                border: none;
                box-shadow: none;
                //padding-right: 0;
                background: none;

                &:hover{
                    color: var(--text-accent);
                }
            }
        
        }

        .footer{
            @include footer-button();
        }
        
    }

    .fv-settings{

        .settings-container{
            display: grid;
            grid-template-columns: auto auto auto 1fr;
            align-items: center;;
            
            @media screen and (max-width: 400px) {
                grid-template-columns: 1fr auto;
            }

            .label{
                grid-column: 1;
                margin: 0.2em 1.3em 0.2em 0;
                white-space: nowrap;
                font-weight: 500;
                @media screen and (max-width: 400px) {
                    margin-top: 1em
                }
            }

            .action{
                grid-column: 3;
                margin: 0.2em 0em 0.2em 0;
                @media screen and (max-width: 400px) {
                    grid-column: 1;
                    grid-column-start: span 2;
                }

                button {
                    border: none;
                    box-shadow: none;
                    //padding-right: 0;
                    background: none;

                    &:hover{
                        color: var(--text-accent);
                    }
                }

                .checkbox-container{
                    vertical-align: top;
                }

                .icon-manager{
                    display: flex;
                    align-items: end;

                    input{
                        margin-right: 0.5em;
                    }
                }

                .items{    
                    display: flex;
                    align-items: center;
                    
                    .item{
                        white-space: nowrap;
                        &.chip{
                            padding-top: 0.3em;
                            margin-left: 0em;
                            margin-right: 0.3em;
                            background-color: var(--tag-background);
                            border: 1px solid var(--tag-border-color);
                            width: fit-content;
                            display: flex;
                            color: var(--text-muted);
                            align-items: center;

                            .item-remove:hover{
                                color: var(--text-accent);
                            }
                        }

                        button{
                            padding-right: 0;
                        }

                        p{
                            margin-block-end: 0;
                            margin-block-start: 0;
                        }

                        &.spacer{
                            width: 100%
                        }

                        &.right-align{
                            padding-right: 0;
                        }

                    }
                }
            }  

            .tooltip-btn{
                grid-column: 2;
                @media screen and (max-width: 400px) {
                    margin-top: 1em
                }

                .tooltip-button{
                    background: none;
                    box-shadow: none;
                    border: none;
                    vertical-align: middle;
                    color: var(--icon-color);
                    padding-right: 1em;
                    margin-left: 1em;
                }
                
            }  

            .tooltip-text{
                grid-column: 4;
                @media screen and (max-width: 400px) {
                    grid-column: 1;
                    grid-column-start: span 2;
                }

                color: var(--text-muted);
                font-size: smaller;
                line-break: strict;
                line-height: normal;
            }
        }


        .footer{
            @include footer-button();
        }

    }

    .fv-table{
        display: contents;
        /*
        .table-view-table {
            @media screen and (max-width: 390px) {
                width: 300px;
            }
        }
        */        
        .options{
            @media screen and (max-width: 400px) {
                max-height: 50em;
                overflow: scroll;
            }

            .limit{
                display: flex;
                font-weight: 600;
                align-items: baseline;
            }

            .pagination{
                display: flex;
                margin: 0.5em 0;
                flex-wrap: wrap;
                .range{
                    padding: 0 0.75em;
                    margin-right: 0.2em;

                    &.active{
                        background-color: var(--color-accent);
                        color: var(--text-on-accent);    
                        border-radius: 0.75em;
                    }

                    &:hover{
                        background-color: var(--color-base-35);
                        color: var(---text-on-accent);
                        border-radius: 0.75em;
                    }
                }
            }

            .fields{
                display: flex;
                flex-wrap: wrap;
                row-gap: 0.5em;
                column-gap: 0.5em;

                .field-container{
                    padding: var(--button-radius);
                    background-color: var(--odd-color);
                    border-radius: var(--button-radius);

                    button {
                        height: 1.5em;
                        width: 1.5em;
                        padding: 0.3em;
                        border-radius: 0.75em;
                        margin-right: 0.5em;

                        &.active{
                            background-color: var(--color-accent);
                            color: var(--text-on-accent);
                        }

                        &:focus{
                            box-shadow: none;
                        }

                        &:hover{
                            box-shadow: 0 0 0 1px var(--interactive-accent);
                        }
                    }

                    .field-header{
                        display: flex;
                        align-items: center;

                        .label-container{
                            display: flex;
                            align-items: center;

                            .field-name{
                                font-weight: 600;
                                white-space: nowrap;
                                margin-right: 0.375em;
                            }

                            .priority{
                                font-weight: 300;
                                font-size: small;
                                color: var(--text-muted);
                                margin-right: 0.375em;
                            }
                        }
                    }

                    .filter-input{
                        display: flex;
                        margin-top: 0.5em;

                        input{
                            width: 100%
                        }

                        input:focus {
                            outline: none;
                            box-shadow: none;
                        }

                        select{
                            width: 100%
                        }

                        &.filter-with-dropdown{
                            flex-direction:row;
                            border: var(--input-border-width) solid var(--background-modifier-border);
                            border-radius: var(--input-radius);
                            align-items: center;
                            background-color: var(--background-modifier-form-field);

                            input {
                                flex-grow:2;
                                border: none;
                            }
                            
                            input:focus-within{
                                border-color: none;
                                transition: none;
                            }
                        }

                        &.filter-with-dropdown:hover, &.filter-with-dropdown:focus-within{
                            border-color: var(--background-modifier-border-hover);
                            transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
                        }
                    }
                }

            }
            .footer{
                @include footer-button();
            }
        }
        div[id^="table-container"]{
            overflow: scroll;
            

            .first-col-header-cell{
                padding-left: var(--table-cell-padding);
                .first-col-header-container{
                    display: flex;
                    .fileclass-icon{
                        margin: 0 0.3em;
                        svg{
                            height: calc(var(--icon-size) * 0.935);
                            width: calc(var(--icon-size) * 0.935);
                        }
                    }
                }
            }

            .field-name, .value-container{

                .field-sub-container{
                    display: flex;
                    
                        p {
                            margin-block: 0em;
                        }

                }
                
                span{
                    display: grid;
                    grid-template-columns: auto auto;
                    float: left;

                    
                    a.internal-link{
                        grid-column: 2;
                    }
                }
            }

            thead th {
                position: sticky;
                top: 0;
            }

            @mixin checkbox-container {
                min-width: 0;
                margin: 0;
                padding-right: 0;
                text-align: center;
                input{
                    vertical-align: middle;
                }
            }
            thead th:first-child {
                left: 0;
                z-index: 2;
                display: flex;
                height: var(--line-height);
                
                span:first-child{
                    margin-left: 0.375em;
                }

                &.modifier-selector{
                    @include checkbox-container()
                }
            }

            thead th:first-child, thead th {

                &.table-view-th.first-col-header-cell{
                    padding-left: 0;
                }
                span.dataview.small-text{
                    display: none;
                }
            }

            tbody > tr > td:first-child {
                position: sticky;
                left: 0;
                z-index: 1;
                max-width: 100%;
                background-color: inherit;    
                display: flex;
                height: var(--line-height);

                &.modifier-selector{
                    @include checkbox-container()
                }
            }
            tbody > tr > td:nth-child(2) {
                padding-left: 0;
            }

            tbody > tr:nth-child(odd):hover > td:first-child{
                background-color: var(--odd-color);
            }

            tbody > tr:nth-child(even):hover > td:first-child{
                background-color: var(--background-primary);
            }


            &.scrolled{
                tbody > tr > td:first-child{
                    @media screen and (max-width: 390px) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background-color: white;
                        a.internal-link{
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 6em
                        }
                        .field-name{
                
                            span{
                                display: grid;
                                grid-template-columns: auto auto;
                                float: left;
                                
                                a.internal-link{
                                    grid-column: 2;
                                }
            
                                a.metadatamenu.fileclass-icon{
                                    grid-area: 1;
                                    margin-right: 0.375em;
                                }
                            }
                        }
                    }
                }
                tbody > tr:nth-child(even):hover > td:first-child{
                    background-color: var(--background-primary);
                }
    
                tbody > tr:nth-child(odd):hover > td:first-child{
                    background-color: var(--odd-color);;
                }
            }
        }


    }
}