@mixin footer-button {
    display: flex;

    .cell{

        button{
            margin-top: 1em;
            

            &.active{
                background-color: var(--color-accent);
                border-bottom: 3px solid var(--text-accent);
                color: var(--text-on-accent);
            }
        }
    }
}

.metadata-menu.fileclass-view{
    
    .fv-menu{
        display: flex;
        
        .fv-menu-item{
            display: flex;
            margin: 0.5em 1em 0.5em 0em;
            color: var(--text-muted);

            h2 {
                margin-block-end: 0em;
            }

            &.active{
                color: var(--text-accent);
                border-bottom: 3px solid var(--text-accent);
            }
        }
    }

    .fv-fields {
        
        .fields-container{
            display: grid;
            grid-template-columns: auto auto auto 1fr;
            
            @media screen and (max-width: 400px) {
                grid-template-columns: auto auto auto;
            }

            .name-container{
                grid-column: 1;
                margin: 0.2em 1.3em 0.2em 0;
                white-space: nowrap;
                font-weight: 500;
                @media screen and (max-width: 400px) {
                    margin-top: 1em;
                }
            }

            .type-container{
                grid-column: 2;
                @media screen and (max-width: 400px) {
                    margin-top: 1em;
                }

                .chip{
                    border-radius: 0.8em;
                    padding: 0.1em 0.75em 0.25em 0.75em;
                    color: white;
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                    height: 1.6em;
                    white-space: nowrap;
                    font-size: small;
                    margin-top: 0.25em;
                    opacity: 0.95;
                }
            }

            .buttons-container{
                grid-column: 3;
                display: flex;
                @media screen and (max-width: 400px) {
                    margin-top: 1em;
                }
            }

            .options-container{
                grid-column: 4;
                @media screen and (max-width: 400px) {
                    grid-column: 1;
                    grid-column-start: span 3;
                }
                
                .description{
                    white-space: nowrap;
                    margin-left: 1em;
                    color: var(--text-muted);

                    @media screen and (max-width: 400px) {
                        margin-left: 0em;
                        white-space: normal;
                    }
                }
            }

            button {
                border: none;
                box-shadow: none;
                //padding-right: 0;
                background: none;

                &:hover{
                    color: var(--text-accent);
                }
            }
        
        }

        .footer{
            @include footer-button();
        }
        
    }

    .fv-settings{
        display: table;

        .setting{
            display: table-row;

            .cell{
                display: table-cell;
                margin: 0.3em 0.2em;
                vertical-align: middle;

                button {
                    border: none;
                    box-shadow: none;
                    //padding-right: 0;
                    background: none;

                    &:hover{
                        color: var(--text-accent);
                    }
                }

                .tooltip-button{
                    background: none;
                    box-shadow: none;
                    border: none;
                    vertical-align: middle;
                    color: var(--icon-color);
                    padding-right: 1em;
                    margin-left: 1em;
                }

                .tooltip-text{
                    color: var(--text-muted);
                    font-size: smaller;
                    line-break: strict;
                    line-height: normal;
                }

                .option{
                    margin-left: 0.75em;

                    svg{
                        vertical-align: text-top;
                    }
                }

                .label{
                    margin: 0.2em 1.3em 0.2em 0;
                    white-space: nowrap;
                    font-weight: 500;
                }

                .action{
                    margin: 0.2em 0em 0.2em 0;

                    .checkbox-container{
                        vertical-align: top;
                    }

                    .icon-manager{
                        display: flex;
                        align-items: end;

                        input{
                            margin-right: 0.5em;
                        }
                    }

                    .items{    
                        display: flex;
                        align-items: center;
                        
                        .item{
                            white-space: nowrap;
                            &.chip{
                                padding-top: 0.3em;
                                margin-left: 0em;
                                margin-right: 0.3em;
                                background-color: var(--tag-background);
                                border: 1px solid var(--tag-border-color);
                                width: fit-content;
                                display: flex;
                                color: var(--text-muted);
                                align-items: center;

                                .item-remove:hover{
                                    color: var(--text-accent);
                                }
                            }

                            button{
                                padding-right: 0;
                            }

                            p{
                                margin-block-end: 0;
                                margin-block-start: 0;
                            }

                            &.spacer{
                                width: 100%
                            }

                            &.right-align{
                                padding-right: 0;
                            }

                        }
                    }
                }

                .chip{
                    margin-right: 1em;
                }

                .description{
                    margin-right: 1em;
                }

                .title{
                    font-weight: 600;
                    margin-right: 1em;
                }
            }
        }

        .footer{
            @include footer-button();
        }
    }

    .fv-table{

        .options{

            .options-container{
                display: flex;
                margin: 0.75em 0;
                align-items: center;

                &.table{
                    display: table;

                    .row{
                        display: table-row;
                        margin: 1em 0em;

                        &.header{
                            font-weight: 600;
                        }

                        .cell{
                            display: table-cell;

                            .cell-items{
                                display: flex;
                                align-items: center;

                                button {
                                    height: 1.5em;
                                    width: 1.5em;
                                    padding: 0.3em;
                                    border-radius: 0.75em;
                                    margin-right: 0.5em;

                                    &.active{
                                        background-color: var(--color-accent);
                                        color: var(--text-on-accent);
                                    }
                                }

                                &.range{
                                    padding: 0 0.75em;

                                    &.active{
                                        background-color: var(--color-accent);
                                        color: var(--text-on-accent);    
                                        border-radius: 0.75em;
                                    }

                                    &:hover{
                                        background-color: var(--color-base-35);
                                        color: var(---text-on-accent);
                                        border-radius: 0.75em;
                                    }
                                }

                                
                            }

                            input {
                                margin-right: 0.5em;
                                margin-top: 0.5em;
                            }
                        }

                    }
                }

                .label{
                    font-weight: 500;
                    margin-right: 1em;
                }

                button {
                    margin-right: 0.5em;
                }
            }
        }

    }
}