@mixin action-button {
    button {
        margin-right: 12px;

        :disabled {
            opacity: 50%;
        }

        .danger {
            background-color: var(--color-purple);
            color: var(--color-base-00);
        }
    }

    button:last-child{
        margin-right: 0;
    }
}

.metadata-menu.modal-container {

    .modal {
        overflow: auto;
    }

    &.narrow {

        .modal{
            width: initial;
        }

    }

    .vstacked{
        display: grid;
        margin: 1em 0;
        code {
            color: var(--text-code);
            font-size: smaller;
        }
        .field-container{
            margin: 0;
        }
    }

    .sub-text{
        display: flex;
        font-size: smaller;
        color: var(--text-muted);
    }

    .field-container{
        display: flex;
        align-items: center;
        margin: 1em 0;

        .label {
            white-space: nowrap;

            &.bold {
                font-weight: var(--bold-weight);
                color: var(--bold-color);
            }

            &.code {
                font-family: monospace;
                color: var(--code-normal);
                font-size: var(--code-size);
                background-color: var(--code-background);
                white-space: pre;
            }
            &.italic {
                font-style: italic;
                color: var(--italic-color);
            }
            &.strikethrough {
                text-decoration: line-through;
            }
        }
        .style-buttons-container {
            display: inline-flex;

            .style-button-container {
                display: block;
                margin-right: 1em;
                margin-top: 0;
                margin-bottom: 0;
                
                &:last-child{
                    margin-right: 0;
                }

                .style-btn-label {
                    margin-right: 0.5em;
                }
            }

        }

        input, textarea {
            margin-right: 1em;

            &.with-label{
                margin-left: 1em;
            }

            &.full-width{
                width: 100%;
            }

            &:last-child{
                margin-right: 0;
            }
        }

        textarea {

            &.full-width{
                width: 100%;
            }
        }

        .icon-preview{
            margin: 0 0.6em;
            color: var(--text-muted);
        }

        .spacer {
            width: 100%;
        }

        .is-invalid {
            color: var(--color-red);
        }

        .more-info {
            color: var(--text-faint);
            white-space: nowrap;
            margin-left: 0.5em;
            font-size: small;
            font-style: italic;
        }

        .warning{
            color: var(--color-red);
        }


        .node-color{
            min-height: 2em;
            min-width: 2em;
            border-radius: 50%;
            margin: 0.2em 0.2em;
            text-align: center;

            $colors: 1,2,3,4,5,6;

            @mixin bg-color($colorValue, $alpha){
                background-color: rgba(var(--canvas-color-#{$colorValue}), #{$alpha});
                color: rgba(var(--canvas-color-#{$colorValue}), #{$alpha});
            };

            @each $color in $colors{
                &.color-#{$color}{
                    @include bg-color(#{$color}, 0.2)
                }

                &.color-#{$color}.active{
                    @include bg-color(#{$color}, 1)
                }
            }
            
            svg {
                vertical-align: bottom;
                stroke-width: 3px
            }

            &.picker{
                background: 
                    conic-gradient(
                        var(--color-red),
                        var(--color-yellow), 
                        var(--color-green), 
                        var(--color-blue), 
                        var(--color-purple), 
                        var(--color-red)
                    );

                input {
                    opacity: 0;
                    height: 2em;
                    width: 2em
                }
            }
        }

        .edge-side {
            display: flex;

            .side-icon{
                
                & svg {    
                    height: 22px;
                    width: 22px;
                    margin: 0 0.1em 0 0.7em;
                }
            }
        }

        &.edges {
            margin-bottom: 0;
        }

        &.colors{
            display: flex;
            flex-wrap: wrap;
        }

        &.labels{    
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            
            .label{
                margin-right: 1em;
            }

            .item{
                white-space: nowrap;
                &.chip{
                    padding-top: 0.3em;
                    margin-left: 0em;
                    margin-right: 0.3em;
                    margin-top: 0.3em;
                    background-color: var(--tag-background);
                    border: 1px solid var(--tag-border-color);
                    width: fit-content;
                    display: flex;
                    color: var(--text-muted);
                    align-items: center;
                }

                p{
                    margin-block-end: 0;
                    margin-block-start: 0;
                }

                &.spacer{
                    width: 100%
                }

                &.right-align{
                    padding-right: 0;
                }

                button {
                    border: none;
                    box-shadow: none;
                    //padding-right: 0;
                    background: none;
                    padding-right: 0;

                    &:hover{
                        color: var(--text-accent);
                    }

                    &.item-remove:hover{
                        color: var(--text-accent);
                    }
                }

            }
        }

        @include action-button();
    }

    .field-error{
        height: 2em;
        color: var(--text-on-accent);
        width: 100%;
        background-color: var(--color-accent);
        padding: var(--size-4-1) var(--size-4-2);
        font-size: var(--font-ui-small);
        border-radius: var(--input-radius);
        height: var(--input-height);
    }

    .field-warning{
        font-size: smaller;
        background-color: var(--color-accent);
        color: var(--text-on-accent);
        padding: 0.5em;
        border-radius: 0.5em;
    }

    .footer-actions {
        display: flex;
        padding: var(--size-4-3);

        .spacer {
            width: 100%;
        }

        .info {
            white-space: nowrap;
            margin: 30px 12px 12px 0;
            font-size: x-small;
            font-style: italic;
            color: var(--color-accent);
        }

        @include action-button();

    }
}