.metadata-menu.modal-container.note-fields-modal{

    button {
        padding: 0 0 0.4em 0.4em;
        height: auto;
        box-shadow: none;
        background-color: var(--background-primary);

        &.disabled{
            color: var(--text-faint)
        }

        &:disabled {
            color: var(--text-faint)
        }
    }

    .modal{
        width: auto;
        min-width: var(--dialog-width);

        @media screen and (max-width: 400px) {
            max-width: 97vw;
            min-width: 0px;
            margin-bottom: 50px;
            margin-left: 6px
        }
    }

    .note-fields-container{
        display: grid;
        border-collapse:separate;
        grid-template-columns: auto auto 1fr auto;
        margin-top: 3px;
        @media screen and (max-width: 400px) {
            grid-template-columns: 270px 75px;
        }

        .field-name-wrapper{
            grid-column: 1;
        }

        .field-settings-wrapper{
            grid-column: 2;
            display: flex;

            .field-settings-spacer{
                @media screen and (max-width: 400px) {
                    width: 100%
                }
            }
        }

        .field-value-wrapper{
            grid-column: 3;
            @media screen and (max-width: 400px) {
                grid-column: 1;
                margin-bottom: 1em;
            }
        }
        .field-options-wrapper{
            grid-column: 4;
            display: flex;
            @media screen and (max-width: 400px) {
                grid-column: 2;
                margin-bottom: 1em;
            }

            .field-options-spacer{
                width: 100%;
            }
        }

        .field-name-wrapper, .field-value-wrapper, .field-settings-wrapper, .field-options-wrapper{
            
            .field-item{
                padding-top: 0.2em;
                padding-right: 0.5em;
                float: none;
                vertical-align: middle;

                &.field-name{
                    font-weight: bold;
                    white-space: nowrap;
                    background-color: none;
                    color:var(--text-normal);
                    padding-left: 0.6em;
                    border: none;
                    @media screen and (max-width: 400px) {
                        padding-left: 0;
                    }

                    &.active{
                        padding-left: 0.2em;
                        border-left: 0.4em var(--color-accent) solid;
                    }
                }

                .field-type{
                    margin-top:0.25em;

                    &.chip{
                        @media screen and (max-width: 400px) {
                            margin-right: 0;
                        }
                    }
                }

                &.field-setting{
                    padding-right: 0;

                    button {

                        svg{
                            color: var(--text-faint);
                            height: 1em;
                        }
                    }
                }

                &.field-value{
                    width: 100%;

                    &.emptyfield{
                        color: var(--text-faint);
                    }
                }
            }
        }
    }

    .insert-all-fields {
        margin-top: 0.4em;
        padding-left: 0.6em;
        display: flex;

        button{
            padding: 0 0 0.4em 0.4em;
            height: auto;
            box-shadow: none;
            background-color: var(--background-primary);
            margin-left: 0.4em;
        }
    }

    .fields-inheritance-manager-container{
        display: flex;

        .fileclass-manager-container{
            display: flex;
    
            .name{
                padding-bottom: 0.4em;
                border:none;
                
                &.active{
                    padding-bottom: 0em;
                    border-bottom: 0.4em var(--color-accent) solid;
                }

                &:hover {
                    cursor:context-menu;
                }
            }

            button{

                svg{
                    color: var(--text-faint);
                    height: 1em;
                }
            }
        }

        .separator{
            margin: 0 0.5em;
        }
    }

}