.value-add-notice {
    display: flex;
    background-color: var(--color-accent);
    color: var(--text-on-accent);

    .label {
        margin: 0 1em;
        padding-top: 0.3em;
    }

    .spacer {
        width: 100%;
    }

    @include action-button;
}


.suggester-input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--background-secondary-alt);
    margin-top: 0.25em;
    border-color: rgba(var(--mono-rgb-100),.05);
        border-bottom: 1px solid var(--background-secondary);

    .suggester-title{
        margin-left: 1em;
        white-space: nowrap;
    }

    .info {
        white-space: nowrap;
        margin-right: 1em;
        font-size: x-small;
        font-style: italic;
        color: var(--color-accent);
    }

    
    .prompt-input{
        border: none;
    }
    

    @include action-button();

    button:first-child{
            margin-left: 1em;
    }

    button:last-child{
            margin-right: 1em;
    }

    .input-as-title{
        font-weight: 500;
    }
}

.value-container {

    display: flex;
    white-space: nowrap;
    align-items: center;

    button{
        margin: 0 0.3em;

        &.left{
            margin-left: 0;
        }

        &.right{
            margin-right: 0;
        }
    }

    button.small{
        height: 1.5em;
        width: 1.5em;
        padding: 0.3em;
        border-radius: 0.75em;
        margin-right: 0.5em;

        &.active{
            background-color: var(--color-accent);
            color: var(--text-on-accent);
        }

        &:focus{
            box-shadow: none;
        }

        &:hover{
            box-shadow: 0 0 0 1px var(--interactive-accent);
        }
    }

    .spacer{
        width: 100%;
    }

    .index-container{
        margin: 0em 0.7em 0em 0em;
        display: block;
        background-color: var(--color-accent);
        color: var(--text-on-accent);
        border-radius: 0.75em;
        font-size: x-small;
        min-width: 1.5em;
        text-align: center;
    }

    .label-container{
        margin-right: 0.5em;
        font-weight: 600;
    }

    .label-with-icon-container{
        display: inline-flex;
        
        .icon{
            margin-right: 0.5em;
        }
    }

    .icon-container{
        margin: 0em 0.7em 0em 0em;
        display: block;

        svg {
            vertical-align: text-bottom;
        }
    }

    &.value-checked{
        background-color: var(--background-modifier-hover);

        &.is-selected{
            background-color: var(--interactive-accent);
        }
    }

    .item-with-add-on {
        display: flex;

        .add-on {
            font-size: x-small;
            margin-left: 1em;
            padding-top: 0.4em;
            color: var(--color-base-60);
        }
    }

    .empty{
        color: var(--text-faint)
    }
}

.suggestion-item.suggest-separator{
    border-bottom: 1px solid var(--divider-color);
    border-radius: 0px;
    padding: 1px;
}
